fastapi==0.110.0
uvicorn[standard]==0.27.1
gunicorn==21.2.0
sqlalchemy==2.0.27
psycopg2-binary==2.9.9
pydantic-settings==2.2.1
email-validator==2.1.1
python-jose[cryptography]==3.3.0
# Specific bcrypt version to prevent the '72 bytes' and '__about__' errors
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.9
joblib==1.3.2
scikit-learn==1.8.0
pandas==2.2.2
python-dotenv==1.0.1
httpx==0.27.0
beautifulsoup4==4.12.3
slowapi==0.1.9
pgvector==0.2.5
dateparser==1.2.0
numpy==1.26.4
